---DESCRIPTION---
Interfaces must be in a namespace
---FILENAME---
Foo.php
---CONTENTS---
<?php

interface Foo
{
}

---MESSAGES---
3:1 Each interface must be in a namespace of at least one level (a top-level vendor name)
---
