---DESCRIPTION---
Traits must be in a namespace
---FILENAME---
Foo.php
---CONTENTS---
<?php

declare(strict_types=1);

trait Foo
{
}

---MESSAGES---
5:1 PSR1.Classes.ClassDeclaration.MissingNamespace
---
