parameters:
    autoload_files:
        - vendor/squizlabs/php_codesniffer/autoload.php
    level: max
    paths:
        - src
        - tests
    excludes_analyse:
        - %rootDir%/../../../tests/Sniffs/fixtures/*

includes:
    - vendor/phpstan/phpstan-phpunit/extension.neon
    - vendor/phpstan/phpstan-phpunit/rules.neon
